@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-gradient {
  background: linear-gradient(to right, rgb(30 64 175), rgb(147 51 234));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gradient:hover{
  transition: ease-in-out 600ms;
  background: linear-gradient(to right, rgb(147 51 234), rgb(30 64 175));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gradient:hover .hover-icon{
  transition: ease-in-out 600ms;
  color: rgb(30 64 175);
}

.mt-muitos{
  margin-top: 45px !important;
}

.animation-container{
  animation: slideInFromLeft 1s ease-out;
}

.animation-h2{
  animation: appear 2s ease-out;
}

.animation-p{
  animation: appear 3s ease-out;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;

}

::-webkit-scrollbar-thumb {
  background-color: rgb(243 244 246); /* Cor da barra */
  border-radius: 20px;
}

.h-minha{
  height: 85%;
}
.h-99{
  height: 83%;
}
::-webkit-scrollbar-track {
  background-color: transparent; /* Cor de fundo da área de rolagem */
  margin-left: 5px;
  border-radius: 5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
